*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.hedar
{
    /* height: 500px; */
    border: 1px solid black;
}
.hedar-text
{
    /* height: 500px; */
    width: 80%;
    margin: auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 20px;
    position: relative;
}
.hedar-img
{
    border: 1px solid black;
    display: grid;
    grid-template-rows:70% 30%;
    border-radius: 20px;
}
.hedar-img-text-tk
{
    height: 20px;
    width: 50px;
    /* border: 1px solid black; */
    position: absolute;
    top: 20px;
    left: 10px;
    text-align: center;
    color: white;
    background-color: red;
}
.hedar-img-text-icon
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* border: 1px solid black; */
    position: absolute;
    top: 15px;
    left: 330px;
    background-color: white;
}
.hedar-img-text-icon i
{
    padding: 7px;
}
.hedar-img-text
{
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
   
}
.hedar-img-text img
{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.hedar-img-text p
{
    margin-top: -10px;
    margin-left: 300px;
    color: red;
    font-size: 22px;
    line-height: 30px;
    font-weight: 999;
}
.hedar-img-text span
{
    margin-left: 310px;
}
.hedar-img-text-buttan
{
  height: 25px;
  width: 25px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
}
.hedar-img-text-buttan1
{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin: 3px;
  font-size: 20px;
}
.hedar-img-main
{
    display: flex;
    justify-content: space-between;
}
.hedar-img-text .start i,h3,h1
{
    display:inline-block;
}
.hedar-img-text .start h1
{
    margin-left: 230px;
    font-size: 30px;
}
.hedar-img-text .start h3
{
    margin-left: 10px;
    /* font-size: 30px; */
}


.hedar-card
{
    height: 70px;
    width: 80%;
    margin:20px auto;
    border: 1px solid black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.hedar-card-text
{
    border-radius: 20px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;
    overflow: hidden;
}
.hedar-card-text .hedar-card-off
{
    height: 70px;
    border: 1px solid black;
}
.hedar-card-off-text
{
    height: 70px;
    border-left: 1px solid black;
    background-color: darkmagenta;
    padding: 10px;
    overflow: hidden;
}
.hedar-card-off h3
{
    color: red;
}
.hedar-card-off span
{
    color:gray;
    display:block;
    margin-top: 10px;
}

.hedar-card-off-text span
{
  font-size: 25px;
  color: white;
}
.hedar-card-off-text p
{
  color: white;
}